@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   
}
body{
    background-color:#230E3D;
    font-family: "Inter", sans-serif;
     overflow-x:hidden;
     margin:0;
     padding:0;

}
/* shared style */
.title-color{
    background:linear-gradient( to right, #F7E93F, #FB09B4,#9100F8);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    display:inline-block;
}
.primary-btn{
     background:linear-gradient(to right, #F7E93F, #FB09B4,#9100F8);

}
/* content styles */
.navbar{
    width:100%;
    height:92px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-align:center;
    margin:0 auto;
    
}
.nav-heading{
    color:#ffffff;
    text-align:center;
   
}
.nav-list{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    gap:32px;
     list-style-type:none;
    
     
         
   
   
}  
.nav-list li>a{
    text-decoration:none;
    color:#ffffff;
    font-size:1rem;
    font-style:medium;
    font-weight:500;
    line-height:120%;
    text-align:center;
    
     
}
.nav-button{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:4px;
    padding:12px 16px;
    border-radius:10000px;
    color:#ffffff;
   
}
span img{
    margin-right:5px;


}
.banner-section{
    
}
.banner-container{
    width:100%;
    min-height:100vh%;
    background-image: url('./assets/hero-bg.png');
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    padding:20px;
   

}
.circle-banner{
    background-image: url('./assets/hero-circle.png');
    width:350px;
    height:350px;
    border:8px solid #2A186C;
    border-radius:50%;
    background:linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    margin:0 auto 30px;
   
    

}
.microphone-banner{
    background-image:url('./assets/microphone.png');
    width:50%;
}
.badge{
    position:absolute;
    top:12px;
    right:-1px;
    background-color:#00FF88;
    color:#000000;
    font-size:18px;
    font-weight:600;
    line-height:22px;
    padding:8px 16px;
    border-radius:1000px;
    
}
.banner-title{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    
    
}
.banner-heading{
    font-size:3.75rem;
    font-weight:800;
    line-height:73px;
    text-align:center;
    color:#ffffff;
   
}
.banner-title>p{
    width:560px;
    height:19px;
    color:#ffffff;
    margin-top:8px;
    margin-bottom:24px;
}
.btn-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
}
.button-2{
    width:201px;
    height:44px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
    padding:0;
    background:linear-gradient(to right, #F7E93F, #FB09B4,#9100F8);
    color:#ffffff;
    border:none;
    border-radius:10000px; 
    font-size:16px;
    font-weight:600;
    text-align:center;
   
}
.button-2>img{
     width:20px;
    height:20px;
}

.btn-3{
    width:147px;
    height:44px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid #00FF88;
    border-radius:10000px;
    color:#00FF88;
    background:transparent;
    font-size:16px;
    font-weight:600;
   text-align:center; 
   gap:8px;
  
}
.btn-3>img{
    width:20px;
    height:20px;
    
}




@media screen and (max-width:576px){
    .navbar{
        width:100%;
        padding:15px;
        display:flex;
        flex-direction:flex-start;

        
    }
    span img{
      
    }
    .nav-list{
        display:none;
    }
    .nav-button{
        display:none;
    }
    .circle-banner{
        width:250px;
        height:250px;
    }
    
 
 .banner-title{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin:0 auto;

 }
 .banner-heading{
    font-size:2rem;
}
    
}
@media screen and (min-width:577px){
    span img{
        display:none;
    }
    
    .navbar{
    width:100%;
    height:92px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-align:center;
    margin:0 auto;
    padding-left:200px;
    padding-right:200px;

}
.nav-heading{
    display:flex;
}
    .nav-button{
       margin-left:400px;
    }
    .nav-list{
        margin-left:300px;
    }
}
