@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   
}
body{
    background-color:#230E3D;
    font-family: "Inter", sans-serif;
     overflow-x:hidden;
     margin:0;
     padding:0;

}
/* shared style */
.title-color{
    background:linear-gradient( to right, #F7E93F, #FB09B4,#9100F8);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    display:inline-block;
}
.primary-btn{
     background:linear-gradient(to right, #F7E93F, #FB09B4,#9100F8);

}
.description{
    color:#ffffff80;
    text-size:1rem;
    font-weight:400;

}
.box-title{
    color:#ffffff;
    font-size:24px;
    font-weight:700;
    text-align:left;
    line-height:29px;
}
/* content styles */
.navbar{
    width:100%;
    height:92px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-align:center;
    margin:0 auto;
    
}
.nav-heading{
    color:#ffffff;
    text-align:center;
   
}
.nav-list{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    gap:32px;
     list-style-type:none;
    
     
         
   
   
}  
.nav-list li>a{
    text-decoration:none;
    color:#ffffff;
    font-size:1rem;
    font-style:medium;
    font-weight:500;
    line-height:120%;
    text-align:center;
    
     
}
.nav-button{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:4px;
    padding:12px 16px;
    border-radius:10000px;
    color:#ffffff;
   
}
span img{
    margin-right:5px;


}
.banner-section{
    
}
.banner-container{
    width:100%;
    min-height:100vh%;
    background-image: url('./assets/hero-bg.png');
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    padding:20px;
   

}
.circle-banner{
    background-image: url('./assets/hero-circle.png');
    width:350px;
    height:350px;
    border:8px solid #2A186C;
    border-radius:50%;
    background:linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    margin:0 auto 30px;
   
    

}
.microphone-banner{
    background-image:url('./assets/microphone.png');
    width:50%;
}
.badge{
    position:absolute;
    top:12px;
    right:-1px;
    background-color:#00FF88;
    color:#000000;
    font-size:18px;
    font-weight:600;
    line-height:22px;
    padding:8px 16px;
    border-radius:1000px;
    
}
.banner-title{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    
    
}
.banner-heading{
    font-size:3.75rem;
    font-weight:800;
    line-height:73px;
    text-align:center;
    color:#ffffff;
   
}
.banner-title>p{
    width:560px;
    height:19px;
    color:#ffffff80;
    margin-top:8px;
    margin-bottom:24px;
}
.btn-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
}
.button-2{
    width:201px;
    height:44px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
    padding:0;
    background:linear-gradient(to right, #F7E93F, #FB09B4,#9100F8);
    color:#ffffff;
    border:none;
    border-radius:10000px; 
    font-size:16px;
    font-weight:600;
    text-align:center;
   
}
.button-2>img{
     width:20px;
    height:20px;
}

.btn-3{
    width:147px;
    height:44px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid #00FF88;
    border-radius:10000px;
    color:#00FF88;
    background:transparent;
    font-size:16px;
    font-weight:600;
   text-align:center; 
   gap:8px;
   transition:all 0.3s ease;
  
}
.btn-3>img{
    width:20px;
    height:20px;
    transition:transform o.3s ease;
    
}
.btn-3:hover{
    background:#C800FF;
    color:#fff;
    box-shadow:0 0 20px rgba(0,255,136,0.9);
    transform:translateY(-3px);
}
.btn-3:hover img{
    transform:translateX(6px);
}

.about-section{
    width:100%;
    background-color:#1A0B2E;
    gap:80px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
   
}
.about-heading{
    max-width:1200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.about-heading>h1{
    color:#ffffff;
    margin-top:50px;
    margin-bottom:20px;
}
.about-description{
    max-width:800px;
    height:148px;
    color:#ffffff80;
    opacity:0.8;
    font-size:1rem;
    font-weight:400;
    text-align:center;
   
}
.text{
    color:#ffffff80;
 
}
.about-ratings{
    max-width:1200px;
    min-height:95px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;
    margin-top:50px;
    
}


.green{
    color:#00FF88;
}
.techwave-section>h1{
    color:#ffffff;
    text-align:center;
     background-color:#35116566;
     padding-top:150px;
}
.techwave-resources{
    width:100%;
    max-height:auto;
    padding:120px 200px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-row: repeat(3,1fr);
    background-color:#35116566;
    gap:30px;
    

}
.box-1{
    max-width:530px;
    max-height:480px;
    background-color:#ffffff08;
    border:1px solid #ffffff1A;
    backdrop-filter:blur(15px);
    grid-row:span 2;
    padding:40px;
    border-radius:40px;
    
    
}
.box-1>img{
    width:40px;
    height:40px;
}
.box-1 .box-title{
   max-width:300px;
   max-height:29px;
   margin-top:20px;
    
}
.box-text{
    width:300px;
    height:144px;
    margin-top:20px;
}

.box-2{
    grid-column:span 2;
    max-width:790px;
    max-height:225px;
    background-color:#ffffff08;
    border:1px solid #ffffff1A;
    backdrop-filter:blur(15px);
    padding:40px;
    border-radius:40px;
   
}
.box-2 .box-title{
    margin-top:20px;
    text-align:left;
}
.box2-text{
    margin-top:20px;
}

.box-3{
    grid-column:span 2;
    max-width:790px;
    max-height:225px;
    background-color:#ffffff08;
    border:1px solid #ffffff1A;
    backdrop-filter:blur(15px);
    padding:40px;
    border-radius:40px;
    }
    .box-3 .box-title{
    margin-top:20px;
    text-align:left;
    }
    .box3-text{
        margin-top:20px;
    }
.box-4{
    grid-column:span 2;
    max-width:790px;
    max-height:273px;
    background-color:#ffffff08;
    border:1px solid #ffffff1A;
    backdrop-filter:blur(15px);
    padding:40px;
    border-radius:40px;
}
.box-4 .box-title{
    margin-top:20px;
    text-align:left;
}
.box4-text{
    margin-top:20px;
}

.box-5{
    grid-column:span 1;
    max-width:530px;
    max-height:273px;
    background-color:#ffffff08;
    border:1px solid #ffffff1A;
    backdrop-filter:blur(15px);
    padding:40px;
    border-radius:40px;

    

}
.box-5 .box-title{
    margin-top:20px;
    text-align:left;
}
.box5-text{
    margin-top:20px;
}
.features-section>h1{
    color:#ffffff;
    font-size:3rem;
    font-weight:600;
    text-align:center;
    margin-top:50px;
}
.feature-container{
   max-width:100%;
    min-height:440px;
    background-color:#35116566;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding:10px;
    gap:10px;
}
.card{
    max-width:380px;
    min-height:440px;
    padding-left:10px;
     background-color:#ffffff08;
    border:1px solid #ffffff1A;
    backdrop-filter:blur(15px);
    border-radius:20px;
}
.iframe{
    width:100%;
    height:214px;
}
.card-title{
    width:332px;
    height:58px;
    color:#ffffff;
    font-size:1.5rem;
    font-weight:500;
    margin-top:10px;
    
}
.card-text{
    width:332px;
    height:72px;
    margin-top:10px;
    padding:
}
.time-box{
     color:#00FF88;
     margin-top:20px;
     font-size:16px;
}
.host-section>h1{
    color:#ffffff;
    font-size:3rem;
    font-weight:700;
    text-align:center;
    margin-top:120px;
}
.host-container{
    max-width:1200px;
    min-height:280px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
      background-color:#ffffff08;
    border:1px solid #ffffff1A;
    border-radius:40px;
    backdrop-filter:blur(15px);
    gap:24px;
    padding:40px;
    margin:auto;
    margin-top:40px;
}
.host-heading{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    gap:16px;

}
.host-title{
    color:#ffffff;
    font-size:32px;
    font-weight:700;
    line-height:39px;
    text-align:left;
}
.host-text{
    font-size:16px;
    font-weight:400;
    line-height:24px;
    text-align:left;
}
.social-wrapper{
    display:flex;
    gap:20px;
   
}
.host-social{
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    box-sizing:border-box;
    border:1px solid #533c72;
    border-radius:50%;
}
.social-img{
        width:20px;
        height:20px;
        padding:0;
        object-fit:contain;
}
.footer-banner{
    background-image: url('./assets/footer-bg.png');
    width:100%;
    min-height:100%;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    padding:20px;
    margin-top:120px;
}
.footer-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.footer-social{
    max-width:544px;
    height:auto;
    display:flex;
    flex-direction:row;
    gap:40px;
    margin-top:32px;
    
}

.footer-heading{
    color:#ffffff;
}
.footer-text{
    margin-top:32px;
}


@media screen and (max-width:576px){
    .navbar{
        width:100%;
        padding:15px;
        display:flex;
        flex-direction:flex-start;

        
    }
    span img{
      
    }
    .nav-list{
        display:none;
    }
    .nav-button{
        display:none;
    }
    .circle-banner{
        width:250px;
        height:250px;
    }
    
 
 .banner-title{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin:0 auto;
    border:1px solid white;

 }
 .banner-heading{
    font-size:2rem;
}
.about-container{
    width:440px;
    height:575px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding:40px 20px;
}
.about-heading>h1{
    margin-bottom:10px;
}

.about-description{
   max-width:100%;
   height:150px;
}
.text{
    margin-bottom:30px;

}
.about-ratings{
    max-width:400px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:20px;
    margin:auto;
}
.green{
    margin-bottom:10px;
}
.techwave-resources{
   display:grid;
   grid-template-columns: 1fr;
   align-items:stretch;
   width:100%;
   padding:40px;
   height:auto;
   gap:16px;

}
.box-1{
 grid-row:auto;
 max-height:none;
 height: auto;
 width:100%;
 padding:30px 20px;
 box-sizing:border-box;
 align-items:stretch;
   
}
.box-1 .box-title,
.box-1 .box-text{
    max-width:100%;
    width:100%;
    height:auto;

}
.feature-container{
   max-width:100%;
    min-height:auto;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:flex-start;
     gap:8px;
    

}
.card{
    width:100%;
    max-width:100%;
    min-height:400px;
   
     
}
.time-box{
    margin:10px;
    text-align:left;
}
.host-container{
    flex-direction:column;
    width:100%;
    min-height:490px;
}
.host-heading{
    justify-content:center;
    align-items:center;
}
.host-text{
    width:352px;
    height:168px;
    text-align:center;
}
.footer-banner{
    background-image: url('/assets/footer-bg.png');
    width:100%;
    min-height:100%;
    padding:40px 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
    background-repeat:no-repeat;
    background-size:cover;
}
.footer-social{
    max-width:320px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    gap:15px;
    margin:auto;
    margin-top:70px;
}
.footer-social>img{
    width:45%;
    max-width:140px;
    height:auto;
    object-fit :contain;
}

}

    

@media screen and (min-width:577px){
    span img{
        display:none;
    }
    
    .navbar{
    width:100%;
    height:92px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-align:center;
    margin:0 auto;
    padding-left:200px;
    padding-right:200px;

}
.nav-heading{
    display:flex;
}
    .nav-button{
       margin-left:400px;
    }
    .nav-list{
        margin-left:300px;
    }
}
